# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
ENV/

# Django
db.sqlite3
staticfiles/
media/

# PostgreSQL
*.sql
*.dump
*.backup

# Testing / cache
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# OS
.DS_Store

# Logs
*.log

# Build
build/
dist/
*.egg-info/
